.dark body{
  background-color: #b39f9f;
}
.dark.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #575353;
  border-radius: 5px;
  background-color: #746a6a;
}

.dark.form-container label,
.dark.form-container input {
  display: block;
  margin-bottom: 10px;
}

.dark.form-container input[type="email"],
.dark.form-container input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dark.form-container p {
  color: red;
  margin-top: 10px;
}

.dark.form-container button[type="submit"] {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark.form-container button[type="submit"]:hover {
  background-color: #45a049;
}
